In [1]:
import pandas as pd
import numpy as np
def get_group_columns(df: pd.DataFrame, group: str):
    """
    get a group of columns from multi-index columns DataFrame

    Parameters
    ----------
    df : pd.DataFrame
        with multi of columns.
    group : str
        the name of the feature group, i.e. the first level value of the group index.
    """
    if group is None:
        return df.columns
    else:
        return df.columns[df.columns.get_loc(group)]

In [2]:
alphabet = np.array(list('abcdefg'))
digits = np.array(list(range(0,10)))

In [3]:
avalue = alphabet[np.random.randint(0,len(alphabet),100)]
dvalue = digits[np.random.randint(0,len(digits),100)]
value = np.random.normal(0, 1, 100)

In [4]:
df = pd.DataFrame({'a':avalue,'d':dvalue,'v':value}).set_index(['a','d'])

In [5]:
get_group_columns(df,'v')

'v'

In [6]:
df

            v
a d
d 6 -0.037356
b 9 -0.367281
g 3 -0.745930
d 3 -1.428008
a 0  0.530183
..        ...
d 6 -1.331729
c 2  0.276174
d 8  1.770959
f 3 -1.375453
e 4  0.998609

[100 rows x 1 columns]

In [7]:
mask = np.random.rand(100)<0.1

In [8]:
df['v'][mask] = np.nan

In [9]:
get_group_columns(df, 'v')

'v'

In [10]:
df.loc(axis=0)['e']

          v
d
1  0.724889
2  0.366817
0       NaN
6  0.146869
2 -1.003600
6 -0.075696
9  0.283460
6  0.285292
5  1.172986
7       NaN
4       NaN

In [5]:
import qlib
from qlib.config import REG_CN
provider_uri = "~/.qlib/qlib_data/qlib_cn_1d"  # target_dir
qlib.init(provider_uri=provider_uri, region=REG_CN)

[28405:MainThread](2021-05-17 22:06:14,374) INFO - qlib.Initialization - [config.py:275] - default_conf: client.
[28405:MainThread](2021-05-17 22:06:14,379) WARNING - qlib.Initialization - [config.py:291] - redis connection failed(host=127.0.0.1 port=6379), cache will not be used!
[28405:MainThread](2021-05-17 22:06:14,383) INFO - qlib.Initialization - [__init__.py:46] - qlib successfully initialized based on client settings.
[28405:MainThread](2021-05-17 22:06:14,385) INFO - qlib.Initialization - [__init__.py:47] - data_path=/Users/harry/.qlib/qlib_data/qlib_cn_1d

In [2]:
import warnings
warnings.filterwarnings('ignore')
import qlib
from qlib.config import REG_CN
from qlib.contrib.data.handler import Alpha158

data_handler_config = {
    "start_time": "2008-01-01",
    "end_time": "2020-08-01",
    "fit_start_time": "2008-01-01",
    "fit_end_time": "2014-12-31",
    "instruments": "csi300",
}

if __name__ == "__main__":
    provider_uri = "~/.qlib/qlib_data/qlib_cn_1d"  # target_dir
    qlib.init(provider_uri=provider_uri, region=REG_CN)
    h = Alpha158(**data_handler_config)

    # get all the columns of the data
    print(h.get_cols())

    # fetch all the labels
    print(h.fetch(col_set="label"))

    # fetch all the features
    print(h.fetch(col_set="feature"))

[29879:MainThread](2021-05-18 00:24:01,795) INFO - qlib.Initialization - [config.py:275] - default_conf: client.
[29879:MainThread](2021-05-18 00:24:01,798) WARNING - qlib.Initialization - [config.py:291] - redis connection failed(host=127.0.0.1 port=6379), cache will not be used!
[29879:MainThread](2021-05-18 00:24:01,801) INFO - qlib.Initialization - [__init__.py:46] - qlib successfully initialized based on client settings.
[29879:MainThread](2021-05-18 00:24:01,803) INFO - qlib.Initialization - [__init__.py:47] - data_path=/Users/harry/.qlib/qlib_data/qlib_cn_1d

['KMID', 'KLEN', 'KMID2', 'KUP', 'KUP2', 'KLOW', 'KLOW2', 'KSFT', 'KSFT2', 'OPEN0', 'HIGH0', 'LOW0', 'VWAP0', 'ROC5', 'ROC10', 'ROC20', 'ROC30', 'ROC60', 'MA5', 'MA10', 'MA20', 'MA30', 'MA60', 'STD5', 'STD10', 'STD20', 'STD30', 'STD60', 'BETA5', 'BETA10', 'BETA20', 'BETA30', 'BETA60', 'RSQR5', 'RSQR10', 'RSQR20', 'RSQR30', 'RSQR60', 'RESI5', 'RESI10', 'RESI20', 'RESI30', 'RESI60', 'MAX5', 'MAX10', 'MAX20', 'MAX30', 'MAX60', 'MIN5', 'MIN10', 'MIN20', 'MIN30', 'MIN60', 'QTLU5', 'QTLU10', 'QTLU20', 'QTLU30', 'QTLU60', 'QTLD5', 'QTLD10', 'QTLD20', 'QTLD30', 'QTLD60', 'RANK5', 'RANK10', 'RANK20', 'RANK30', 'RANK60', 'RSV5', 'RSV10', 'RSV20', 'RSV30', 'RSV60', 'IMAX5', 'IMAX10', 'IMAX20', 'IMAX30', 'IMAX60', 'IMIN5', 'IMIN10', 'IMIN20', 'IMIN30', 'IMIN60', 'IMXD5', 'IMXD10', 'IMXD20', 'IMXD30', 'IMXD60', 'CORR5', 'CORR10', 'CORR20', 'CORR30', 'CORR60', 'CORD5', 'CORD10', 'CORD20', 'CORD30', 'CORD60', 'CNTP5', 'CNTP10', 'CNTP20', 'CNTP30', 'CNTP60', 'CNTN5', 'CNTN10', 'CNTN20', 'CNTN30', 'CNTN60', 'CNTD5', 'CNTD10', 'CNTD20', 'CNTD30', 'CNTD60', 'SUMP5', 'SUMP10', 'SUMP20', 'SUMP30', 'SUMP60', 'SUMN5', 'SUMN10', 'SUMN20', 'SUMN30', 'SUMN60', 'SUMD5', 'SUMD10', 'SUMD20', 'SUMD30', 'SUMD60', 'VMA5', 'VMA10', 'VMA20', 'VMA30', 'VMA60', 'VSTD5', 'VSTD10', 'VSTD20', 'VSTD30', 'VSTD60', 'WVMA5', 'WVMA10', 'WVMA20', 'WVMA30', 'WVMA60', 'VSUMP5', 'VSUMP10', 'VSUMP20', 'VSUMP30', 'VSUMP60', 'VSUMN5', 'VSUMN10', 'VSUMN20', 'VSUMN30', 'VSUMN60', 'VSUMD5', 'VSUMD10', 'VSUMD20', 'VSUMD30', 'VSUMD60', 'LABEL0']
                         LABEL0
datetime   instrument
2014-11-03 SH600000   -0.007945
           SH600008    0.001328
           SH600009   -0.012666
           SH600010   -0.010715
           SH600011    0.015337
...                         ...
2020-07-31 SZ300498   -0.006531
           SZ300529    0.012851
           SZ300601    0.090264
           SZ300628    0.004142
           SZ300676    0.007616

[411338 rows x 1 columns]
                           KMID      KLEN     KMID2       KUP      KUP2  \
datetime   instrument
2014-11-03 SH600000   -0.008779  0.017560 -0.499960  0.002927  0.166682
           SH600008   -0.003932  0.013106 -0.300000  0.006553  0.499998
           SH600009    0.030868  0.048875  0.631578  0.015434  0.315790
           SH600010    0.007089  0.031917  0.222116  0.007094  0.222276
           SH600011    0.001546  0.027821  0.055556  0.017002  0.611110
...                         ...       ...       ...       ...       ...
2020-07-31 SZ300498   -0.003356  0.023490 -0.142858  0.012164  0.517855
           SZ300529   -0.005420  0.046071 -0.117649  0.020325  0.441176
           SZ300601    0.008080  0.067009  0.120586  0.013750  0.205197
           SZ300628   -0.013750  0.040312 -0.341085  0.017187  0.426356
           SZ300676    0.012588  0.049920  0.252164  0.022708  0.454882

                           KLOW     KLOW2      KSFT     KSFT2     OPEN0  ...  \
datetime   instrument                                                    ...
2014-11-03 SH600000    0.005854  0.333358 -0.005853 -0.333284  1.008857  ...
           SH600008    0.002621  0.200002 -0.007864 -0.599996  1.003947  ...
           SH600009    0.002572  0.052632  0.018006  0.368421  0.970056  ...
           SH600010    0.017733  0.555608  0.017728  0.555449  0.992961  ...
           SH600011    0.009274  0.333334 -0.006182 -0.222220  0.998457  ...
...                         ...       ...       ...       ...       ...  ...
2020-07-31 SZ300498    0.007970  0.339287 -0.007550 -0.321425  1.003367  ...
           SZ300529    0.020325  0.441176 -0.005420 -0.117649  1.005450  ...
           SZ300601    0.045179  0.674217  0.039509  0.589605  0.991984  ...
           SZ300628    0.009375  0.232558 -0.021562 -0.534883  1.013942  ...
           SZ300676    0.014624  0.292954  0.004505  0.090237  0.987569  ...

                         VSUMN5   VSUMN10   VSUMN20   VSUMN30   VSUMN60  \
datetime   instrument
2014-11-03 SH600000         NaN       NaN       NaN       NaN       NaN
           SH600008         NaN       NaN       NaN       NaN       NaN
           SH600009         NaN       NaN       NaN       NaN       NaN
           SH600010         NaN       NaN       NaN       NaN       NaN
           SH600011         NaN       NaN       NaN       NaN       NaN
...                         ...       ...       ...       ...       ...
2020-07-31 SZ300498    0.772614  0.565064  0.523422  0.489674  0.491646
           SZ300529    0.819752  0.597705  0.533210  0.535862  0.508948
           SZ300601    0.231064  0.265613  0.387342  0.425360  0.465201
           SZ300628    0.537052  0.510992  0.482686  0.511605  0.508130
           SZ300676    0.552333  0.454371  0.503348  0.501604  0.494210

                         VSUMD5   VSUMD10   VSUMD20   VSUMD30   VSUMD60
datetime   instrument
2014-11-03 SH600000         NaN       NaN       NaN       NaN       NaN
           SH600008         NaN       NaN       NaN       NaN       NaN
           SH600009         NaN       NaN       NaN       NaN       NaN
           SH600010         NaN       NaN       NaN       NaN       NaN
           SH600011         NaN       NaN       NaN       NaN       NaN
...                         ...       ...       ...       ...       ...
2020-07-31 SZ300498   -0.545229 -0.130127 -0.046844  0.020651  0.016708
           SZ300529   -0.639504 -0.195411 -0.066420 -0.071724 -0.017895
           SZ300601    0.537872  0.468775  0.225316  0.149280  0.069599
           SZ300628   -0.074103 -0.021985  0.034628 -0.023210 -0.016260
           SZ300676   -0.104665  0.091257 -0.006695 -0.003208  0.011581

[411338 rows x 158 columns]