In [1]:
import pandas as pd
import numpy as np
def get_group_columns(df: pd.DataFrame, group: str):
    """
    get a group of columns from multi-index columns DataFrame

    Parameters
    ----------
    df : pd.DataFrame
        with multi of columns.
    group : str
        the name of the feature group, i.e. the first level value of the group index.
    """
    if group is None:
        return df.columns
    else:
        return df.columns[df.columns.get_loc(group)]

In [2]:
alphabet = np.array(list('abcdefg'))
digits = np.array(list(range(0,10)))

In [3]:
avalue = alphabet[np.random.randint(0,len(alphabet),100)]
dvalue = digits[np.random.randint(0,len(digits),100)]
value = np.random.normal(0, 1, 100)

In [4]:
df = pd.DataFrame({'a':avalue,'d':dvalue,'v':value}).set_index(['a','d'])

In [5]:
get_group_columns(df,'v')

'v'

In [6]:
df

            v
a d
g 9 -0.607022
a 3 -2.799108
f 2  0.608779
c 6  0.325965
  1  0.139376
..        ...
d 6  0.427794
g 1 -0.127090
a 9 -0.975884
e 6 -1.427138
a 9 -1.309756

[100 rows x 1 columns]

In [7]:
mask = np.random.rand(100)<0.1

In [8]:
df['v'][mask] = np.nan

In [9]:
get_group_columns(df, 'v')

'v'

In [10]:
df.loc(axis=0)['e']

          v
d
1  0.724889
2  0.366817
0       NaN
6  0.146869
2 -1.003600
6 -0.075696
9  0.283460
6  0.285292
5  1.172986
7       NaN
4       NaN

In [3]:
import warnings
warnings.filterwarnings('ignore')
import qlib
from qlib.config import REG_CN
from qlib.contrib.data.handler import Alpha158

data_handler_config = {
    "start_time": "2015-01-01",
    "end_time": "2021-05-17",
    "fit_start_time": "2015-01-01",
    "fit_end_time": "2020-12-31",
    "instruments": "csi300",
}

if __name__ == "__main__":
    provider_uri = "~/.qlib/qlib_data/qlib_cn_1d"  # target_dir
    qlib.init(provider_uri=provider_uri, region=REG_CN)
    h = Alpha158(**data_handler_config)

    # get all the columns of the data
    print(h.get_cols())

    # fetch all the labels
    print(h.fetch(col_set="label"))

    # fetch all the features
    print(h.fetch(col_set="feature"))

[29879:MainThread](2021-05-18 00:31:41,451) INFO - qlib.Initialization - [config.py:275] - default_conf: client.
[29879:MainThread](2021-05-18 00:31:41,455) WARNING - qlib.Initialization - [config.py:291] - redis connection failed(host=127.0.0.1 port=6379), cache will not be used!
[29879:MainThread](2021-05-18 00:31:41,460) INFO - qlib.Initialization - [__init__.py:46] - qlib successfully initialized based on client settings.
[29879:MainThread](2021-05-18 00:31:41,462) INFO - qlib.Initialization - [__init__.py:47] - data_path=/Users/harry/.qlib/qlib_data/qlib_cn_1d

['KMID', 'KLEN', 'KMID2', 'KUP', 'KUP2', 'KLOW', 'KLOW2', 'KSFT', 'KSFT2', 'OPEN0', 'HIGH0', 'LOW0', 'VWAP0', 'ROC5', 'ROC10', 'ROC20', 'ROC30', 'ROC60', 'MA5', 'MA10', 'MA20', 'MA30', 'MA60', 'STD5', 'STD10', 'STD20', 'STD30', 'STD60', 'BETA5', 'BETA10', 'BETA20', 'BETA30', 'BETA60', 'RSQR5', 'RSQR10', 'RSQR20', 'RSQR30', 'RSQR60', 'RESI5', 'RESI10', 'RESI20', 'RESI30', 'RESI60', 'MAX5', 'MAX10', 'MAX20', 'MAX30', 'MAX60', 'MIN5', 'MIN10', 'MIN20', 'MIN30', 'MIN60', 'QTLU5', 'QTLU10', 'QTLU20', 'QTLU30', 'QTLU60', 'QTLD5', 'QTLD10', 'QTLD20', 'QTLD30', 'QTLD60', 'RANK5', 'RANK10', 'RANK20', 'RANK30', 'RANK60', 'RSV5', 'RSV10', 'RSV20', 'RSV30', 'RSV60', 'IMAX5', 'IMAX10', 'IMAX20', 'IMAX30', 'IMAX60', 'IMIN5', 'IMIN10', 'IMIN20', 'IMIN30', 'IMIN60', 'IMXD5', 'IMXD10', 'IMXD20', 'IMXD30', 'IMXD60', 'CORR5', 'CORR10', 'CORR20', 'CORR30', 'CORR60', 'CORD5', 'CORD10', 'CORD20', 'CORD30', 'CORD60', 'CNTP5', 'CNTP10', 'CNTP20', 'CNTP30', 'CNTP60', 'CNTN5', 'CNTN10', 'CNTN20', 'CNTN30', 'CNTN60', 'CNTD5', 'CNTD10', 'CNTD20', 'CNTD30', 'CNTD60', 'SUMP5', 'SUMP10', 'SUMP20', 'SUMP30', 'SUMP60', 'SUMN5', 'SUMN10', 'SUMN20', 'SUMN30', 'SUMN60', 'SUMD5', 'SUMD10', 'SUMD20', 'SUMD30', 'SUMD60', 'VMA5', 'VMA10', 'VMA20', 'VMA30', 'VMA60', 'VSTD5', 'VSTD10', 'VSTD20', 'VSTD30', 'VSTD60', 'WVMA5', 'WVMA10', 'WVMA20', 'WVMA30', 'WVMA60', 'VSUMP5', 'VSUMP10', 'VSUMP20', 'VSUMP30', 'VSUMP60', 'VSUMN5', 'VSUMN10', 'VSUMN20', 'VSUMN30', 'VSUMN60', 'VSUMD5', 'VSUMD10', 'VSUMD20', 'VSUMD30', 'VSUMD60', 'LABEL0']
                         LABEL0
datetime   instrument
2015-01-05 SH600000   -0.019841
           SH600008   -0.040602
           SH600009    0.004480
           SH600010    0.016588
           SH600011   -0.001100
...                         ...
2021-05-14 SZ300628         NaN
           SZ300676         NaN
2021-05-17 SH600588         NaN
           SH603288         NaN
           SZ002601         NaN

[454157 rows x 1 columns]
                           KMID      KLEN     KMID2       KUP      KUP2  \
datetime   instrument
2015-01-05 SH600000    0.008155  0.043286  0.188392  0.011286  0.260726
           SH600008    0.044041  0.082901  0.531251  0.033679  0.406250
           SH600009    0.006373  0.044608  0.142857  0.018627  0.417583
           SH600010    0.063884  0.066340  0.962978  0.002456  0.037022
           SH600011    0.027442  0.050494  0.543480  0.010977  0.217392
...                         ...       ...       ...       ...       ...
2021-05-14 SZ300628   -0.001051  0.033360 -0.031498  0.010507  0.314961
           SZ300676    0.012968  0.037526  0.345574  0.013697  0.365010
2021-05-17 SH600588         NaN       NaN       NaN       NaN       NaN
           SH603288         NaN       NaN       NaN       NaN       NaN
           SZ002601         NaN       NaN       NaN       NaN       NaN

                           KLOW     KLOW2      KSFT     KSFT2     OPEN0  ...  \
datetime   instrument                                                    ...
2015-01-05 SH600000    0.023845  0.550881  0.020714  0.478548  0.991911  ...
           SH600008    0.005181  0.062499  0.015544  0.187501  0.957816  ...
           SH600009    0.019608  0.439560  0.007353  0.164835  0.993668  ...
           SH600010    0.000000  0.000000  0.061428  0.925956  0.939952  ...
           SH600011    0.012075  0.239129  0.028540  0.565216  0.973291  ...
...                         ...       ...       ...       ...       ...  ...
2021-05-14 SZ300628    0.021802  0.653541  0.010244  0.307082  1.001052  ...
           SZ300676    0.010861  0.289416  0.010131  0.269980  0.987198  ...
2021-05-17 SH600588         NaN       NaN       NaN       NaN       NaN  ...
           SH603288         NaN       NaN       NaN       NaN       NaN  ...
           SZ002601         NaN       NaN       NaN       NaN       NaN  ...

                         VSUMN5   VSUMN10   VSUMN20   VSUMN30   VSUMN60  \
datetime   instrument
2015-01-05 SH600000    0.431293  0.493269  0.534596  0.460477  0.477826
           SH600008    0.534390  0.637253  0.537391  0.465414  0.469891
           SH600009    0.165682  0.400645  0.477603  0.462575  0.486985
           SH600010    0.274261  0.615322  0.558431  0.467880  0.489304
           SH600011    0.327143  0.431567  0.464727  0.430197  0.440911
...                         ...       ...       ...       ...       ...
2021-05-14 SZ300628    0.466247  0.469341  0.512927  0.519468  0.505391
           SZ300676    0.632014  0.514408  0.486164  0.493321  0.525603
2021-05-17 SH600588    0.396454  0.433754  0.491033  0.538953  0.509897
           SH603288    0.388111  0.507753  0.472894  0.538203  0.524293
           SZ002601    1.000000  0.589807  0.516497  0.506910  0.513144

                         VSUMD5   VSUMD10   VSUMD20   VSUMD30   VSUMD60
datetime   instrument
2015-01-05 SH600000    0.137414  0.013462 -0.069193  0.079047  0.044349
           SH600008   -0.068780 -0.274505 -0.074782  0.069172  0.060218
           SH600009    0.668636  0.198711  0.044795  0.074850  0.026030
           SH600010    0.451477 -0.230643 -0.116862  0.064241  0.021393
           SH600011    0.345713  0.136865  0.070547  0.139607  0.118178
...                         ...       ...       ...       ...       ...
2021-05-14 SZ300628    0.067505  0.061318 -0.025854 -0.038937 -0.010781
           SZ300676   -0.264028 -0.028815  0.027673  0.013358 -0.051205
2021-05-17 SH600588    0.207092  0.132493  0.017934 -0.077907 -0.019793
           SH603288    0.223778 -0.015506  0.054213 -0.076405 -0.048587
           SZ002601   -1.000000 -0.179615 -0.032994 -0.013820 -0.026289

[454157 rows x 158 columns]

In [7]:
h.fetch(col_set="label").loc['2021-05-10', :]

                         LABEL0
datetime   instrument
2021-05-10 SH600000    0.006965
           SH600004    0.003407
           SH600009    0.002862
           SH600010    0.033520
           SH600011   -0.007026
...                         ...
           SZ300498    0.013778
           SZ300529    0.000210
           SZ300601    0.018535
           SZ300628    0.083596
           SZ300676    0.011523

[293 rows x 1 columns]

In [16]:
import numpy as np
import pandas as pd
np.maximum(int(110 * 0.1), 1)

11