In [7]:
import pandas as pd
import numpy as np
def get_group_columns(df: pd.DataFrame, group: str):
    """
    get a group of columns from multi-index columns DataFrame

    Parameters
    ----------
    df : pd.DataFrame
        with multi of columns.
    group : str
        the name of the feature group, i.e. the first level value of the group index.
    """
    if group is None:
        return df.columns
    else:
        return df.columns[df.columns.get_loc(group)]

In [26]:
alphabet = np.array(list('abcdefg'))
digits = np.array(list(range(0,10)))

In [27]:
avalue = alphabet[np.random.randint(0,len(alphabet),100)]
dvalue = digits[np.random.randint(0,len(digits),100)]
value = np.random.normal(0, 1, 100)

In [33]:
df = pd.DataFrame({'a':avalue,'d':dvalue,'v':value}).set_index(['a','d'])

In [34]:
get_group_columns(df,'v')

'v'

In [35]:
df

            v
a d
b 4 -0.326458
e 8  1.416109
g 6 -2.155091
b 2  0.207414
e 8  0.097417
..        ...
d 6  1.598065
  0  0.892484
  6 -0.520886
f 9 -0.966918
c 2 -0.067813

[100 rows x 1 columns]